<!DOCTYPE html>
<head>
  <title>Sensor data </title>
  <link rel="stylesheet" href='../static/style.css'/>
  <meta http-equiv="refresh" content="30;" />
</head>
<body>
  <h1>Sensor Data </h1>
  <h3>Temperatur Raum &nbsp; ==>  {{ temp  }} Grad Celsius</h3>
  <h3>Luftfeuchtigkeit ==>  {{ lFeuchtigkeit  }} %</h3>
  <h3>Bodenfeuchtigkeit ==>  {{ bFeuchtigkeit  }} %</h3>
  <hr>
  <h3>Letzte Messung: {{ time }} ==> <a href="/"class="button">REFRESH</a></h3>
  <hr>
</body>
</html>
