<!doctype html>
<html>
<head>
    <title>SmartPlant</title>
    <link rel="stylesheet" href='../static/style.css'/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="refresh" content="30;" />
    <style>
	body {
	  text-align: center;
	}
	#g1,#g2,#g3,#g4{
	  width: 200px;
	  height: 160px;
	  display: inline-block;
	  margin: 1em;
	}
    </style>
</head>

<body>
    <h1>Sensor Data</h1>
    <div id="g1"></div>
    <div id="g2"></div>
    <div id="g3"></div>
    <div id="g4"></div>
    <hr>
	<h3> Letzte Messung: {{ time }}</h3>	
	<hr>
    
    <script src="../static/raphael-2.1.4.min.js"></script>
    <script src="../static/justgage.js"></script>
    <script>
      var g1, g2, g3, g4;
      document.addEventListener("DOMContentLoaded", function(event) {
      	g1 = new JustGage({
      		id: "g1",
      		value: {{temp}},
      		valueFontColor: "yellow",
      		min: -10,
      		max: 50,
      		title: "Temperatur",
      		label: "Celsius"
      	});
      	g2 = new JustGage({
      		id: "g2",
      		value: {{gHum}},
      		valueFontColor: "yellow",
      		min: 0,
      		max: 100,
      		title: "Bodenfeuchtigkeit",
      		label: "%"
      	});
       	g3 = new JustGage({
      		id: "g3",
      		value: {{aHum}},
      		valueFontColor: "yellow",
      		min: 0,
      		max: 100,
      		title: "Luftfeuchtigkeit",
      		label: "%"
      	});
      	g4 = new JustGage({
      		id: "g4",
      		value: {{bright}},
      		valueFontColor: "yellow",
      		min: 0,
      		max: 100,
      		title: "Helligkeit",
      		label: "60+ is alright"
      	});
      });
    </script>
</body>
</html>
